spring:
  application.name: booking-service
  datasource:
    url: jdbc:postgresql://localhost:5432/booking
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  data:
    web:
      pageable:
        default-page-size: 20
        max-page-size: 100
        one-indexed-parameters: false

security:
  jwt:
    secret: hAIt9N0vnfIYlM1YdRlysMFWJY0LxASdWfWCiJdz73n7oZogbA5ZQpZs3ZkY8p3Il1k9n5cY4poPqV2h7CwJdA==
    algorithm: HS256

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui

management:
  tracing:
    sampling:
      probability: 1.0
  opentelemetry:
    tracing:
      export:
        otlp:
          endpoint: http://localhost:4318/v1/traces
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

logging:
  pattern:
    correlation: "[${spring.application.name:},%X{traceId:-},%X{spanId:-}] "
  include-application-name: false

clients:
  hotel-management:
    base-url: http://localhost:8082/api
    timeout: 2s
    max-attempts: 3
    initial-backoff: 200ms
